.container{
    height: 100vh;
    background-image: url(./sky1.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
}
.road{
    height: 200px;
    width: 500%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-repeat: repeat-x;
    animation: road  5s  linear infinite;
}
@keyframes road{
    100%{
        transform:translateX(-3400px);
    }
}
.city{
    height: 250px;
    width: 500%;
    background-image: url(./city.png);
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;
    display: block;
    z-index: 1;
 background-repeat: repeat-x;
 animation: city 20s linear infinite;

}
@keyframes city{
    100%{
        transform: translateX(-1400px);
    }
}
.car{
    width: 350px;
    left: 50%;
    bottom: 120px;
    transform:translateX(-50%);
    position:absolute;
    z-index: 2;
   

}
 .car img{ 
    width: 100%;
    
} 

.wheel{
    left: 51%;
    bottom: 178px;
    transform:translateX(-50%);
    position: absolute;
    z-index: 1;
    
    
}
.wheel img{
    width: 70px;
    height: 70px;
    animation: wheel  1s  linear infinite   ;
}

.wheel1{
    left: -157px;
    position: absolute;
}
.wheel2{
    left: 80px;
    position: absolute;
}
@keyframes  wheel{
    100%{
        transform: rotate(360deg);
    }
}
.flag{
    width: 60px;
    height: 60px;
    position: absolute;
    top:66%;
    left: 53%;
    z-index: 3;
}
.sun{
    width: 150px;
    height: 150px;
    margin-left: 80%;
}
.header{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: xx-large;
    align-items: center;

}
.box1{
    width: 200px;
    height: 60px;
    border: 2px solid black;
    position: absolute;
left: 400px;
background-color:#ff8000;

}
.box2{
    width: 250px;
    height: 60px;
    border: 2px solid black;
    /* position: absolute;
    left: 180px; */
    background-color:white;
    position: relative;
    left: 250px;
    
}
.box3{
    width: 200px;
    height: 60px;
    border: 2px solid black;
    position: relative;
right: 100px;
background-color:green;

    
}
a{
    margin-right: 50%;
    font-size: xx-large;
    
    color:black;
}
